@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --pokemon: #717171;
  --greenbackground:#05D3C3;
  --greenshadow:#03FFA6;
  --purplebackground: #766d95;
  --whiteshadow: #EAF0E9;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-pokemon: var(--pokemon);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-greenbg: var(--greenbackground);
  --color-purplebg: var(--purplebackground);
  --color-greensd: var(--greenshadow);
  --color-whitesd: var(--whiteshadow)
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}



body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
